defmodule PartOne do
    def parse(input) when is_binary(input) do
        exit("TODO")
    end

    def solve(input) when is_binary(input) do
        exit("TODO")
    end
end

defmodule PartTwo do
    def parse(input) when is_binary(input) do
        exit("TODO")
    end

    def solve(input) when is_binary(input) do
        exit("TODO")
    end
end

File.read!("input.txt") |> PartOne.solve()
File.read!("input.txt") |> PartTwo.solve()